{%load static%}
{%block content6%}
<div id="footer-template" data-aos="fade-up">
    <div id="left-footer">
        <div id="mypic-footer">
           <a href="#home"><img src="{%static 'images/header_left.jpg'%}" alt="error"></a> 
        </div>
        <h2>Jayant Khanna</h2><br>
        <div id="contact-me-links">
            <div id="insta" onclick="insta()"><i class="fab fa-instagram"></i></div>
            <div id="github" onclick="github()"><i class="fab fa-github"></i></div>
            <div id="linkedln" onclick="linkedln()"><i class="fab fa-linkedin-in"></i></div>
        </div>
    </div>
    <div id="footer-links">
        <p>LINKS:</p>
        <div id="footer-links-flex">
            <div id="footer-links-flex-left">
                <a href="privatespace" onclick="change_col(1)" >Private Space</a><br>
                <a href="#" onclick="change_col(2)" data-toggle="modal" data-target="#education">Education</a><br>
                <a href="#" onclick="change_col(3)" data-toggle="modal" data-target="#job">Job</a><br>
            </div>
            <div id="footer-links-flex-right">
                <a href="#" onclick="change_col(4)" data-toggle="modal" data-target="#skills">Skills</a><br>
                <a href="#" onclick="change_col(5)" data-toggle="modal" data-target="#accomplishments">Accomplishments</a><br>
                <a href="index" onclick="change_col(6)">Home</a><br>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    &copy;2021.This website and its rights are owned by Jayant Khanna
</div>
<script src="{%static 'js/footer.js'%}"></script>
{%endblock%}